/* DropdownMenu.css */

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
}

@media (max-width: 991px) {
  .dropdown {
    flex-direction: column;
  }
}

.ddm-btn {
  color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  position: relative;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  width: 200px;
  margin: 0;
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
}

.dropdown-menu li {
  padding: 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btm {
  color: var(--material-theme-ref-neutral-neutral24, #363a3b);
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  justify-content: center;
  align-items: center;
}

.btm svg path {
  fill: #363a3b;
}
