.foot-cont {
  display: flex;
  width: 100vw;
  padding: 18px 0px 16px 0px;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  border-top: 2px solid #086d68;
  background: #00a79d;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.foot-cont img {
  width: 16px;
  aspect-ratio: 1/1;
}
.foot-inner-cont {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.foot-text {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  font-family: Lato;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px; /* 150% */
}

@media screen and (max-width: 768px) {
  .foot-cont {
    display: flex;
    width: 100vw;
    padding: 18px 15px 16px 15px;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border-top: 2px solid #086d68;
    background: #00a79d;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .foot-cont img {
    width: 16px;
    aspect-ratio: 1/1;
  }
  .foot-inner-cont {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .foot-text {
    width: 100px;
    color: #fff;
    text-align: start;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    font-family: Lato;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.2px; /* 150% */
    display: flex;
    justify-content: flex-start;
  }
}
