.hero-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.hero-top-cont {
  width: 100%;
  height: aut0;
  padding: 10px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #fcf8ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-head-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero-head-cont img {
  width: 100%;
  max-width: 800px;
}
.hero-head {
  color: var(--Special-Indicators---Blue, #2ca9e1);
  font-family: Lato;
  font-size: clamp(45px, 4vw, 64px);
  font-style: normal;
  font-weight: 800;
  /* line-height: 96px; */
}

.hero-text {
  color: #5c5f60;
  font-family: Lato;
  font-size: clamp(28px, 3vw, 36px);
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 88.889% */
}

.hero-img-cont {
  position: relative;
}

.hero-img-cont img {
  width: 100%;
}
.hero-img-abs {
  border-radius: 8.211px;
  background: var(--material-theme-ref-tertiary-tertiary99, #fcfcff);
  box-shadow: 0px 2.463px 18.064px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
  right: 0px;
  bottom: 40.111px;

  display: flex;
  width: 100%;
  padding: 20.528px 41.055px;
  justify-content: center;
  align-items: center;
  gap: 41.055px;
  box-sizing: border-box;
}

.hero-img-card {
  border-right: 1.642px solid
    var(--material-theme-sys-light-tertiary-container, #cfe5ff);
  display: flex;
  /* padding: 0px 66.51px 0px 24.633px; */
  padding: 0 20px 0 20px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero-card-head {
  color: var(--material-theme-sys-light-secondary, #5854a8);
  font-family: Archivo Black;
  font-size: 32.844px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.276px; /* 80% */
}
.hero-card-text {
  color: var(--material-theme-sys-light-tertiary, #47617a);
  font-family: Lato;
  font-size: 13.138px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.276px; /* 200% */
  text-transform: uppercase;
}

.hero-contact-cont {
  width: 35%;
  display: flex;
  box-sizing: border-box;
  max-width: 627.57px;
  padding: 41.838px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 31.378px;

  border-radius: 26.149px;
  background: var(--material-theme-white, rgba(255, 255, 255, 0.87));
  box-shadow: 0px 3.922px 22px 0px rgba(0, 0, 0, 0.05);
}

.hc-head {
  color: var(--material-theme-sys-light-secondary, #5854a8);
  text-align: center;
  font-family: Lato;
  font-size: 31.378px;
  font-style: normal;
  font-weight: 700;
  line-height: 36.608px; /* 116.667% */
}
.hc-form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.hero-btm-cont {
  width: 83%;
  margin: 30px 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 2px 28px 0px rgba(222, 228, 232, 0.6);
  padding: 21px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.hero-btm-cards-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.hero-btm-head {
  color: var(--material-theme-ref-tertiary-tertiary20, #17324a);
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.hero-btm-card {
  width: fit-content;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btm-card span {
  color: var(--material-theme-sys-light-tertiary, #47617a);
  text-align: center;
  font-family: Lato;
  font-size: 19.523px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.hero-btm-vm {
  border-radius: 10px;
  border: 1.5px solid var(--material-theme-key-colors-primary, #00a79d);
  background: var(--material-theme-white, rgba(255, 255, 255, 0.87));
  display: flex;
  height: 56px;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: fit-content;
  box-sizing: border-box;

  color: var(--material-theme-key-colors-primary, #00a79d);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 1200px) {
  .hero-contact-cont {
    width: 40%;
    display: flex;
    box-sizing: border-box;
    max-width: 627.57px;
    padding: 20.838px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31.378px;

    border-radius: 26.149px;
    background: var(--material-theme-white, rgba(255, 255, 255, 0.87));
    box-shadow: 0px 3.922px 22px 0px rgba(0, 0, 0, 0.05);
  }
}
@media screen and (max-width: 768px) {
  .hero-top-cont {
    flex-direction: column;
    width: 100%;
  }

  .hero-head-cont {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .hero-head-cont img {
    width: 100%;
    max-width: 800px;
  }
  .hero-head {
    font-size: clamp(34px, 3vw, 45px);
    text-align: center;
  }

  .hero-text {
    font-size: clamp(20px, 2vw, 28px);
    text-align: center;
  }

  .hero-img-cont {
    position: relative;
  }

  .hero-img-cont img {
    width: 100%;
  }
  .hero-img-abs {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: inline-flex;
    padding: 12px 18px;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }

  .hero-img-card {
    padding: 0 10px;
  }
  .hero-card-head {
    color: var(--material-theme-sys-light-secondary, #5854a8);
    font-family: Archivo Black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.276px; /* 109.481% */
  }
  .hero-card-text {
    color: var(--material-theme-sys-light-tertiary, #47617a);
    font-family: Lato;
    font-size: 13.138px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.276px; /* 200% */
    text-transform: uppercase;
  }

  .hero-contact-cont {
    padding: 30px;
    width: 90%;
  }

  .hc-head {
    color: var(--material-theme-sys-light-secondary, #5854a8);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.608px; /* 116.667% */
  }
  .hc-form-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .hero-btm-cont {
    width: 90%;
  }

  .hero-btm-cards-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .hero-btm-head {
    font-size: 24px;
  }

  .hero-btm-card {
    width: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-btm-card span {
    color: var(--material-theme-sys-light-tertiary, #47617a);
    text-align: center;
    font-family: Lato;
    font-size: 19.523px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
  }

  .hero-btm-vm {
    border-radius: 10px;
    border: 1.5px solid var(--material-theme-key-colors-primary, #00a79d);
    background: var(--material-theme-white, rgba(255, 255, 255, 0.87));
    display: flex;
    height: 56px;
    padding: 9px 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    box-sizing: border-box;

    color: var(--material-theme-key-colors-primary, #00a79d);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }
}
